body {
  text-align: center;
}
.card {
  width: 150px;
  height: 200px;
}
.gameBoard {
  display: flex;
  flex-flow: wrap;
  height: 1000px;
  width: 1000px;
  background-color: #999;
  margin: auto;
}